header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; // 確保在最上層
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 128px;
      height: 80px;
      object-fit: cover;
    }
    
  }

  
}