$system: #EBB211;  
$lightgray:  #f5f5f5;
$black: #222626;
@mixin display($flow: null, $justify: null, $align: null) {
  display: flex;
  @if $flow != null {
    flex-flow: $flow;
  }
  @if $justify != null {
    justify-content: $justify;
  }
  @if $align != null {
    align-items: $align;
  }
}
@mixin font($size: null, $weight: null, $color: null, $align: null) {
  @if $size != null {
    font-size: $size * 1px;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $color != null {
    color: $color;
  }
  @if $align != null {
    text-align: $align;
  }
}
@import "page/loanApplication.scss";
@import "page/loanApplicationForm.scss";
@import "component/header.scss";
@import "component/footer.scss";