* {
  margin: 0;
  padding: 0;
}
body {
  header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .material-symbols-outlined {
    padding: 8px;
    font-size: 40px;
    color: #000000;
  }

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 72px 0px;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .steps {
    width: calc(100% - 576px);
    padding: 72px 192px;
    @include display(row wrap, space-between, center);

    .step {
      @include display(column, null, center);
      gap: 4px;
    }
    
  }

  .apply-button {
    width: fit-content;
    background-color: $system;
    font-size: 16px;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 32px;
  }

  footer {
    background-color: $lightgray;
    padding: 72px 192px;
    @include display(row nowrap, space-between);

    .material-symbols-rounded {
      @include font(80, null, #000000);
    }

    .footer-right {
      @include display(row);
      gap: 24px;
    }

    .footer-right-content {
      @include display(column, center);
    }
  }
  
}