* {
  margin: 0;
  padding: 0;
}
body {

  .material-symbols-outlined {
    padding: 8px;
    font-size: 40px;
    color: $black;
  }

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 72px 0px;
    padding-top: 96px;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .steps {
    width: calc(100% - 576px);
    padding: 72px 192px;
    @include display(row wrap, space-between, center);

    .step {
      @include display(column, null, center);
      gap: 4px;
    }
    
  }

  .apply-button {
    width: fit-content;
    background-color: $system;
    font-size: 16px;
    color: #ffffff;
    padding: 16px 32px;
    border-width: 0;
    border-radius: 32px;
  }
  
}